server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:test-h2-db
    driver-class-name: org.h2.Driver
    username: sa
    password:
    hikari:
      maximum-pool-size: 40
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      dialect: org.hibernate.dialect.H2Dialect
      hibernate:
        format_sql: true
    open-in-view: false
    defer-datasource-initialization: true
    database-platform: org.hibernate.dialect.H2Dialect

security:
  jwt:
    token:
      secret-key: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6ImpvYmlzLWFuZC12aWxsYWlucyIsImlhdCI6MTUxNjIzOTAyMn0.kNjVpsVSbH0kpjwHo8VY9la6P8cZ74PH4StTpkePogg
      expire-length: 3600000